<a href="https://colab.research.google.com/github/harshbhabhera/Class-Work/blob/master/NLTK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import nltk

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
from nltk.tokenize import MWETokenizer

In [0]:
import spacy

In [0]:
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer()

In [0]:
#print("rocks :", lemmatizer.lemmatize("rocks")) 
#print("corpora :", lemmatizer.lemmatize("corpora")) 
  
# a denotes adjective in "pos" 
#print("better :", lemmatizer.lemmatize("better", pos ="a"))

In [11]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [12]:
df.summary

0                  A solid performer, and long time friend
1        Price of GOLD is up, so don't bury the golden ...
2         Good functionality, but not durable like old HPs
3             One of the last of an almost extinct species
4                                           Still the best
                               ...
53253                        Portable and very easy to use
53254    Accuteck ShipPro Digital Postal Scale - Stand-...
53255    Extremely accurate, foolproof postal/shipping ...
53256                              Fast, Easy and Accurate
53257                   Great Value on a Good Postal Scale
Name: summary, Length: 53258, dtype: object

In [0]:
df["NLTK"] = ""

In [14]:
df.head()

       reviewerID        asin  ...   reviewTime NLTK
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013

[5 rows x 10 columns]

In [0]:
review = pd.DataFrame(df['reviewText'])

In [16]:
review.head(2)

                                          reviewText
0  I bought my first HP12C in about 1984 or so, a...
1  WHY THIS BELATED REVIEW? I feel very obliged t...

In [0]:
from nltk.tokenize import word_tokenize

In [0]:
?word_tokenize()

In [19]:
import nltk
nltk.download()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

True

In [20]:
tkn

NameError: ignored

In [0]:
tkn = word_tokenize("good bell")

In [0]:

nltk.download('punkt')

In [0]:
str = "good bell"
mwe = MWETokenizer()

In [0]:
mwe.tokenize(str.split())

In [0]:
print("pos tag:" , nltk.pos_tag(tkn))

In [0]:
nltk.download('averaged_perceptron_tagger')

In [0]:
lemmatizer.lemmatize("good bell")

In [0]:
def token(str):
  mwe = MWETokenizer()
  mwe2 = mwe.tokenize(str.split())
  tkn = word_tokenize(str)
  postag = nltk.pos_tag(tkn)
  lem = WordNetLemmatizer() 
  lemm = lem.lemmatize(str)
  dic = {'mwetoken':mwe2, 'token':tkn, 'lemma':lemm, 'pos':postag}
  return dic

In [0]:
df["NLTK"] = df["reviewText"].apply(token)

In [0]:
df = df.head(5)

In [0]:
ad = []

In [0]:
print(df)

In [0]:
def adj(str):
  ad=[]
  postag = nltk.pos_tag(str.split())
  for i in postag:
    if i[1][:2] == 'JJ':
      ad.append(i[0])
  return ad

In [0]:

df["adj"]= df["reviewText"].apply(adj)

In [23]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [27]:
s="testing one two good bad"
adj(s)

['good', 'bad']

In [34]:

df.head(5)

       reviewerID  ...                                                adj
0  A32T2H8150OJLU  ...  [first, difficult, area., many, disaster.The, ...
1  A3MAFS04ZABRGO  ...  [old, satisfied, ower, frank, non-techkie, syn...
2  A1F1A0QQP2XVH5  ...  [more, more, old, overall, new, cheaper, hollo...
3   A49R5DBXXQDE5  ...  [more, good, available., (HP-45,, great, long-...
4  A2XRMQA6PJ5ZJ8  ...  [simple, financial, complex, quick, Reverse, P...

[5 rows x 11 columns]